<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Projects Page</title>
    </head>
    <body>
        {{> header}}
        <ul>
            <li><a href={{link1}}>{{text1}}</a></li>
            <li><a href={{link2}}>{{text2}}</a></li>
            <li><a href={{link3}}>{{text3}}</a></li>
        </ul>

        {{> footer}}
    </body>
</html>